<table class="table table-user">
  <h2>User info</h2>
  
  <thead>
   <tr>
    <%= image_tag user.get_profile_image(100,100) %>
   </tr>
  </thead>
  
  <tbody>
   <tr>
     <th>name</th>
     <th><%= user.name %></th>
   </tr>
   
   <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
   </tr>
   
   <tr>
    <th colspan"2">
     <%= link_to "edit", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>  
    </th>
   </tr>
  </tbody>  
</table> 
    
   
