<h1>Book detail</h1>
<table class="table table-hover">
  <thead>
    
  </thead>
  <tbody>
    <tr>
      <td><p><%= @book.title %></p></td>
      <td><p><%= @book.body %></p></td>
      <td><span class="label label-success"><%= link_to "edit", edit_book_path(@book.id) %></span></td>
      <td><span class="label label-danger"><%= link_to "destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?" %></span></td>
    </tr>
  </tbody>
</table>